<div class="div1">
    <div class="parent1">
        <div class="child4">
            <div class="ch41">
                <div><img src="/ajay123.jpg"></div>
                <div><h5>Ajay</h5></div>
                <div><p>ajaykaringula@gmail.com</p></div>
                <hr>
                    <!-- <h3>DASHBOARD</h3>
                    <h3>ACCOUNT PROFILE</h3>
                    <h3>EXERCISE PLANS</h3>
                    <h3>DIET PLANS</h3> -->
                    
                    <h3 routerLink="createemployeeform">CREATE EMPLOYEEFORM</h3>
                    <h3 routerLink="myprofile">MY PROFILE</h3>
                    <h3 routerLink="contact-us">contact-us</h3>
                    <h3 routerLink="about-us">About-us</h3>
                    <h3 routerLink="roles">Roles</h3>
                    <h3 routerLink="employeedetails">Employeedetails</h3>
                    <h3 routerLink="communication">Communication</h3>
                    <h3 routerLink="shoping">Shoping</h3>
                        <button type="button" class="btn btn-primary">
                          Add to cart <span class="badge badge-light">4</span>
                        </button>
                <hr>
            </div>
            <div class="ch4b1">

                <button routerLink="/login">LOG OUT</button>
            </div>
        </div>
        <div class="child5">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>
